<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-10">
    <div class="jumbotron profile">
      <%= gravatar_for(@user, size: 160) %>
      <h2><%= @user.name %></h2>
      <%= render 'friend_form' if user_signed_in? %>
    </div>
    <div class="row">
      <div class="col-xs-5 col-sm-5">
          <h3>Profile</h3>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-7 col-sm-7">     
        <% if @user.posts.any? %>
          <h3>
            Posts
            <small>(<%= @user.posts.count %>)</small>
          </h3>
          <ul class="media-list">
            <%= render @posts %>
          </ul>
          <%= will_paginate @posts %>
        <% else %>
          <h3>No posts by <%= @user.first_name %> </h3>
        <% end %>
      </div>
    </div>
  </div>
</div>